<%= display_index_header %>

<ul>
<% @status.order(:date).each do |t| %>
  <li>
    <strong><%= t.username %></strong> studied 
    <%= link_to t.course.title, course_path(t.course)%>
    in the language of <%= link_to t.language.title, language_path(t.language_id)%>
    <%= display_date(t) %><br></br>
    <%= display_comments(t) %>


  </li>
<% end %>
</ul>