<%= display_index_header %>
<%= render partial: "layouts/errors", locals: { object: @status } %>

<ul>
<% @statuses.order(:date).each do |t| %>
  <li>
    <strong><%= t.course.learner.username %></strong> studied
    <%= link_to t.course.title, course_path(t.course)%>
    
    <%= display_date(t) %>
    <%= display_comments(t) %>


  </li>
<% end %>
</ul>