<h1> Add a Status </h1>
<%= render partial: "layouts/errors", locals: { object: @status } %>
<%= form_for [@course,@status] do |f| %>

 <%= f.label :date %>s
 <%= f.date_field :date %>

 <%= f.label :title %>
 <%= f.text_field :title %>

 <%= f.label :comments %>
 <%= f.text_field :comments %>

 <br></br>

  <%= f.label :language_id %>
  <%= f.collection_select :language_id, current_learner.languages, :id, :title    %>

  <br></br>

  <%= course_form_option(f) %>

  <%= f.submit%>

<% end %>