<h1> Add a Status </h1>
<%= render partial: "layouts/errors", locals: { object: @status } %>
<%= form_for [@course,@status] do |f| %>

 <%= f.label :date %>
 <%= f.date_field :date %>


 <%= f.label :comments %>
 <%= f.text_field :comments %>


  <br></br>

  <%= course_form_option(f) %>

  <%= f.submit%>

<% end %>