<h1> Welcome <%=@learner.username.titleize %>!  Let's Learn Stuff!!! </h1>
<ul>
# <% @learner.languages.time_search(1).order_numeric_reverse.each do |r| %>
#   <li><%= r.title %> - <%= r.time %> hours </li>
<% end %>
</ul>

<% if current_learner != @learner %>
  <h5>Invite <%=@learner.username.titleize%> to study with you:</h5>
  <div>
    <%= form_tag("/learners/#{@learner.id}/message") do %>
      <label>Add a custom message:</label> <br>
      <%= text_area_tag :content %> <br>
      <%= submit_tag "Study with me!"%>
    <% end %>
  </div>
<% end %>