<h1>All Courses</h1>

<ul>
<% @courses.each do |course| %>
<li>
  <strong><%= course.title %></strong> -
  <%=course.description %> rating  -
  <%=course.rating %> - added by: <%= course.learner.username %> |
  <%= link_to "See all courses", course_statuses_path(course)%> |
  <%= link_to "Join a course", new_course_status_path(course)%> |
  <%= course.statuses.size %>

</li>

<% end %>
</ul>