<h1>Add a New Course</h1>
<%= form_for @course do |f| %>

 <%= f.label :title %>
  <%= f.text_field :title %>
    <br></br>

  <%= f.label :category %>
  <%= f.select :category,options_for_select(["ANDROID", "ANGULARJS", "BOOTSTRAP", "C", "CPP", "CSHARP", "CSS", "DATA-STRUCTURE", "DEBUG-TEST", "DEVELOPMENT-TOOLS", "DJANGO", "DRUPAL", "E-COMMERCE", "ETHICAL-HACKING", "GAME-DEVELOPMENT", "GIT", "HARDWARE", "HTML", "IOS", "JAVA", "JAVASCRIPT", "JQUERY", "JSON", "MACHINE-LEARNING", "MATLAB", "MOBILE-DEVELOPMENT-OTHER", "MYSQL", "NODEJS", "NOSQL", "PHP", "PROGRAMMING-OTHER", "PYTHON", "R-PROGRAMMING", "REACT-REDUX", "ROBOTICS", "RUBY", "SEO", "SOFTWARE", "SQL", "SYSTEM-PROGRAMMING", "UX", "WEB-DEVELOPMENT-OTHER", "WORDPRESS", "VUE", "D-MODEL", "AFTER-EFFECTS", "ANIMATION", "GRAPHIC-DESIGN", "PHOTOGRAPHY", "PHOTOSHOP", "PREMIERE-PRO", "VIDEO-DESIGN", "AWS", "HOSTING", "LINUX", "MAC", "NETWORK-SECURITY", "WINDOWS", "WINDOWS-SERVER", "ACADEMIC", "BLOCKCHAIN", "BUSINESS", "CERTIFICATION", "HEALTH-FITNESS", "LANGUAGES", "LIFESTYLE", "MARKETING", "MUSIC", "OFFICE-PRODUCTIVITY", "PERSONAL-DEVELOPMENT", "SOCIAL-MEDIA", "OTHER"]),include_blank: true %>
  <br></br>

  <%= f.label :comments%>
  <%= f.text_field :comments %>
  <br></br>

  <%= f.label :url, "Course Url" %>
  <%= f.text_field :url %>

  <%= f.label :rating %>
  <%= f.select :rating,options_for_select(["1", "2", "3", "4", "5"]), include_blank: true  %>
    <br></br>

  <%= f.submit%>

<% end %>

